.button[data-v-24ecad65] {
  color: #fff;
  background-color: #ff000080;
}
.toast[data-v-aaf88a8c] {
  color: #000;
  border: 1px solid #eee;
}
.count button[data-v-4a92c169],
.count span[data-v-4a92c169] {
  display: inline-block;
  width: 100px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid orange;
  height: 40px;
  line-height: 40px;
}
.count span[data-v-4a92c169] {
  margin: 0 10px;
}
